<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <h1 style="text-align: center;">Xem chi tiết task</h1>
    <p id="result"></p>

  </body>
  <script>
    window.addEventListener("message", async (e) => {
        const response = await fetch("/api/view?name=" + e.data.name);
        const {result} = await response.json();
        var html = "";

        for (const key of Object.keys(result)) {
            html += `<p>${key} => ${result[key]}</p><br>`;
        }

        document.getElementById("result").innerHTML = html;
    }, false);
  </script>
</html>
