<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.4.1/purify.js"></script>
    <title>Document</title>
</head>
<body>
    Search for note

    <input type="text" id="searchValue">
    <button type="submit" value="Submit" onclick="search()">Submit</button>

    <p class="hidden" id="searchResult"><p>

    <h1>Notes</h1>

    <div>
        <h3>This is note title</h3>
        <p>go to school</p>
        <form action="./edit">
            <button type="submit" value="Edit">Edit</button>
        </form>
    </div>
    <hr>
    <div>
        <h3>This is note title</h3>
        <p>try harder</p>
        <form action="./edit">
            <button type="submit" value="Edit">Edit</button>
        </form>
    </div>
    <hr>
    <div>
        <h3>This is note title</h3>
        <p>sleep</p>
        <form action="./edit">
            <button type="submit" value="Edit">Edit</button>
        </form>
    </div>
</body>
<script>
    const title = localStorage.getItem("title");

    if(title) {
        c = document.createElement('p');
        c.innerHTML = title
        document.body.appendChild(c);
    }

</script>
</html>