<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.4.1/purify.js"></script>
    <title>Document</title>
</head>
<body>
    Search for note

    <input type="text" id="searchValue">
    <button type="submit" value="Submit" onclick="search()">Submit</button>

    <p class="hidden" id="searchResult"><p>

    <h1>Notes</h1>

    <div>
        <h3>This is note title</h3>
        <p>go to school</p>
    </div>
    <hr>
    <div>
        <h3>This is note title</h3>
        <p>try harder</p>
    </div>
    <hr>
    <div>
        <h3>This is note title</h3>
        <p>sleep</p>
    </div>
</body>
<script>
    const result = document.getElementById("searchResult")

    function loadDefautlAvatar() {
        var config = window.fileConfig || {href: '../config/config.js'};
        var s = document.getElementById('config')
       
        if(s) {
            s.setAttribute('src', config.href)
        } else {
            s = document.createElement('script');
            s.setAttribute('id', 'config')
            s.setAttribute('src', config.href);
            document.body.appendChild(s);
        }
    }

    function search() {
        let search = document.getElementById("searchValue").value;
        search = DOMPurify.sanitize(search);
        
        result.classList.remove("hidden")
        result.innerHTML = `Search results for ${search}:`
        loadDefautlAvatar()
    }

</script>
</html>