<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.4.1/purify.js"></script>
    <title>Document</title>
</head>
<body>
    Search for note

    <input type="text" id="searchValue">
    <button type="submit" value="Submit" onclick="search()">Submit</button>

    <p class="hidden" id="searchResult"><p>

    <h1>Notes</h1>

    <div>
        <h3>This is note title</h3>
        <p>go to school</p>
    </div>
    <hr>
    <div>
        <h3>This is note title</h3>
        <p>try harder</p>
    </div>
    <hr>
    <div>
        <h3>This is note title</h3>
        <p>sleep</p>
    </div>

    <button type="submit" value="Submit" onclick="searchHistory()">Search History</button>
</body>
<script>
    const result = document.getElementById("searchResult")
    
    function search() {
        //santitize search value
        let search = document.getElementById("searchValue").value;
        search = DOMPurify.sanitize(search);
        
        result.classList.remove("hidden")
        result.innerHTML = `Search results for ${search}:`

        //Get data from localSorage
        let data = localStorage.getItem("data")
        if(!data) {
            data = {"data": [], "date": ""}
        } else {
            data = atob(data)
            data = JSON.parse(data)
        }

        // Push data to localStorage
        data["data"].push(search)
        data = JSON.stringify(data)
        localStorage.setItem("data", btoa(data))
    }

    function searchHistory() {
        //Get history data
        let historyData = localStorage.getItem("data")
        const text = document.createElement("h4")
        //Render
        if(historyData) {   
            text.innerText = "Your searched:"
            document.body.appendChild(text)

            historyData = JSON.parse(atob(historyData))
            renderer.render.apply(historyData)
        } else {
            text.innerText = "Not found"
            document.body.appendChild(text)
        }
    }

    const renderer = {
        render: function() {
            for (a of this.data) {
                const html = document.createElement("ul")
                html.innerHTML = `<li>${a}</li>`
                document.body.appendChild(html)
            }
        }
    }


</script>
</html>